/*Additional CSS*/

.bid-panel .panel-heading { text-align:center; }
.bid-panel .current-bid{
  margin: 0;
  font-size: 60px;
  color: red;
}
.alert-danger { background-color: rgba(231, 76, 60, 0.7); }
.alert-success { background-color: rgba(24, 188, 156, 0.7); }
.alert-warning { background-color: rgba(243, 156, 18, 0.7); }
#countdown { color: #000; font-size:15px;padding:5px; }
